@import url('https://fonts.googleapis.com/css?family=Rokkitt');

:root {
  --font-color: #444;
}

* {
  box-sizing: border-box;
  font-family: 'Rokkitt', cursive;
  color: var(--font-color, #444);
}

