@import url('https://fonts.googleapis.com/css?family=Rokkitt');

:root {
  --font-color: #444;
  --link-color: #888;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rokkitt', cursive;
  color: var(--font-color, #444);
}

a {
  color: var(--link-color, #888);
}

a:hover {
  color: var(--font-color, #444);
}

.preload-short-text {
  display: inline-block;
  height: 16px;
  width: 100px;
  background: #aaa;
  margin: 0 5px;
}

.preload-sentence-text {
  height: 48px;
  width: calc(100% - 5px);
  background: #aaa;
  margin: 0 0 0 5px;
}